 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&family=Sacramento&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&family=Sacramento&display=swap');
  
  body{
    margin:0px;
}
#navbar_top{
  position: -webkit-sticky;
  position:sticky;
  top:0;
  z-index: 1;
}
#navbar_top.sticky{
  position:fixed;
  top:0;
  width:100%;
}

table, tr, td,th,thead {
  border: none;
}

.navbar-nav a{
  font-size:20px;
  color:#E0E1E4!important;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  
}
.navbar-nav a:hover{
  color:#FFFFFF!important;
}
.contain-nav{
background-color:#BF40BF!important;
}


.logo img{
  height:100px;
 width:200px;
  margin-top:-100px;
  overflow:none;
}
/* FIRST DIV */
.first-div{
   background-image:linear-gradient(45deg, #ff009952, #6e0dd04e, #00ffff7e), url("images/worship.jpeg");
  height:700px;
  
  background-size:cover;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  
}

.first-text h1{
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;  */
  /* font-family: 'Sacramento', cursive; */
    color: #ffc600;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: Bold;
    padding-top: 7rem;
}
/* pastor div */
.pastor-div{
  background-color: rgba(221, 221, 221, 0.585);
  background-image: linear-gradient(rgba(221, 221, 221, 0.585),rgba(221, 221, 221, 0.585)),url("images/pastor-div.jpeg");
  height:600px;
  
  background-size:cover;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;

  
}
.first-text p,.schedule h1,.events h1,.sermons h1{
  font-family: 'Raleway', sans-serif;
  font-style:bold;
  color:#FFFFFF;
  font-weight:500;
  font-size:30px;
}
.schedule h1::before,.schedule h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%
}
.events h1::before,.events h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%
}

.sermons h1::before,.sermons h1::after{
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%
}

.second-text{
  padding-left:2rem;
  padding-top:7rem;
}

/* SECOND DIV */
.second-div{
 
  height:600px;
}

.schedule{
  background-color:#32cd32c8;
  height:600px;
}
.events{
  background-color:#ffa600c6;
  height:600px;
}

/* Sermons  div*/

.sermons{
  height: 900px;
  background-color:#36454f;

  
}
/* Today's sermon */
/* this is a _demo_ container. remember the importance of relative and absolute positioning */
.clicked-button{
  margin-top:2rem;
}
.sermon-display{
  margin-top:2rem;
}
.sermon-display p{
  color:#FFFFFF;
  display: none;

}
.sermon-row{
  /* margin-right:auto; */
  margin-left: 120px;
}
.youtube-link{
  margin-top: 15px;
}

div.embed-responsive div.caption{
  color:#ffffff;
}
.give-section{
  height:200px;
  margin-bottom: 170px;
}
.give-section h1{
  color:#36454f;
  font-weight:500;
  font-size:26px;
}
.give-section h1::before,.give-section h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.give-section{
  height:100px;
}
.give-section p{
  margin-top:30px;
  color:#36454f;
}
.give-section a{
  color:#36454f;
}
.pastor-text p{
  margin-top: 50px;
  font-size:20px;
  font-weight:500;
  color:#000000;
  font-style: bold;
  /* font-family: 'Raleway', sans-serif; */
}
/* .pastor-text p::after{
  content:"Pastor  Shadrack Njuguna";
  font-size:20px;
  font-weight:500;
  color:#000000;
  font-style: bold;
} */
/* Responsive media */
.pastor-row .pastor-img{
  background-image: url("./images/pastor.jpeg");
  height:500px;
  margin-top: 20px;
}
.pastor-row .links{
  margin-top:20px;
}
.footer{
  /* position:fixed;
  left:0;
  bottom:0; */
  width:100%;
  background-color:#36454f;
  height:300px;

}
.footer h1,p{
  color:#ddd;
}
.footer a{
  padding:10px;
}
.footer span{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:20px;
  z-index:1;
}
.footer a:hover span{
  visibility: visible;
 
}
.contact-us span{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:20px;
  z-index:1;
}
.contact-us a:hover span{
  visibility: visible;
}
/* about.html css */
div.about_history{
  height:300px;
  background-color: #36454f;
  
}
div.about_history h1{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight:300;
  color:#ddd;
  font-style: bold;
}
div.about_history p{
  font-size:20px;
  color:#ddd;

  font-family: 'Raleway', sans-serif;
}
.about_history h1::before,.about_history h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
div.about_vision{
  height:100px;
  margin-bottom:100px;
}
div.vision_col, div.mission_col{
  background-color: #ddd;
  height:200px;
}
div.vision_col p,div.mission_col p{
  color:#000000;
  font-family:'Raleway', sans-serif; ;
}
/* index.php */
.form_php{
  height:300px;
  text-align: center;
}
.form_php form{
  margin-top: 30px;
}
.form_php form p{
  padding:10px;
  font-style: bold;
  font-size: 20px;
  font-weight:600;
  
}
.form_php form label{
color:#000000;
  
}
.form_php form span{
  color:red;
}.form_php form input{
  margin-left: 30px;
}
#Address{
  margin-left: 0px;
}
#emailAddress{
  margin-left: 0px;
}
#age{
  margin-left:8rem;
}
#form_submit{
width:100px;
margin-left:8rem;
}
#form_submit:active{
  background-color:	#5F9EA0;
} 
/* gallery */
.images figcaption{
  font-size: 20px;
  font-style: bold;
  color: #000000;
}
/* contact us */
.contact_section .row1{
  margin-top:2rem;
}
.contact_section .contact_img{
  height: 300px;
  background:url("images/cross.jpg");
  background-size:cover;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contact_img h1{
  font-size:40px;
  color:#ffffff;
  padding-top: 15rem;
  padding-left: 4em;
}
.contact-form{
  background-color: #fff;
  height:600px;

}
.contact-details{
  background-color: #36454f;
  height:600px;

}
.contactform_php form input{
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
}
.contactform_php form{
  text-align: center;
  
}
.contactform_php form span{
  color: red;
}
#name,#subject,#message,#email{
  padding:2rem;
  width:80%;
}
#formsubmit_contact{
  border-bottom-style:hidden;
  width:30%;
  height:40px;
}
#formsubmit_contact:active{
  background-color: #5F9EA0;
}
 .contact-details span{
  
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:20px;
  z-index:1;
}
.contact-details .fa-tw{
  margin-top: 3rem;
  margin-left: 3rem;
}
 .contact-details .fa-tw a{
  padding:70px;

}
.contact-details .con-btn {
  margin-top: 3rem;
  margin-right: 6rem;
}
.give-section h1::before,.give-section h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.contact-details .row::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.contact-details .contacts-number h1{
  color:#fff;
}
.contact-details .contacts-number p{
  font-size:20px;
}
.contact-details .contacts-number::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}


@media only screen and (max-width: 768px) {


   /* .navbar-nav a{
    margin:0px!important;
    float: left; */
  .second-text{
    margin-top:3rem;
  }
  .sermons{
     margin-top:43.7rem; 
     height:1300px;
  }
  iframe{
    width:300px;
    height:150px;
   
  
  }
  .sermon-row{
    margin-left:0px;
  }
  .schedule{
    height:700px;
  }
  .pastor-div{
    margin-bottom: 53.1rem;
  }
  
   div.location1{
    margin-bottom: 30px;
   }
   div.contact-us{
    margin-bottom: 30px;
   }
   div.footer{
    height: 600px;
   } 
   /* about.html */
   div.about_vision{
    
    margin-bottom:300px;
  }
  .contact_img h1{
    font-size: 30px;
    margin-right:5rem;
  }
  .contact-details .fa-tw{
    margin-right:2rem;
    margin-left:0;
  }
  .contact-details .con-btn{
    margin-top:2rem;
  }
   } 
  
