 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&family=Sacramento&display=swap'); 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:wght@300&family=Sacramento&display=swap');
  
  body{
    margin:0px;
}

table, tr, td,th,thead {
  border: none;
}

.navbar-nav a{
  font-size:20px;
  color:#E0E1E4!important;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  
}
.navbar-nav a:hover{
  color:#FFFFFF!important;
}
.contain-nav{
background-color:#BF40BF!important;
}


.logo img{
  height:100px;
 width:200px;
  margin-top:-100px;
  overflow:none;
}
/* FIRST DIV */
.first-div{
   background-image:linear-gradient(45deg, #ff009952, #6e0dd04e, #00ffff7e), url("images/worship.jpeg");
  height:700px;
  
  background-size:cover;
  
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  
}

.first-text h1{
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Raleway', sans-serif;  */
  /* font-family: 'Sacramento', cursive; */
    color: #ffc600;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: Bold;
    margin-top:40px;
}
.first-text p,.schedule h1,.events h1,.sermons h1{
  font-family: 'Raleway', sans-serif;
  font-style:bold;
  color:#FFFFFF;
  font-weight:500;
  font-size:30px;
}
.schedule h1::before,.schedule h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%
}
.events h1::before,.events h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%
}

.sermons h1::before,.sermons h1::after{
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%
}

.second-text{
  margin-left:2rem;
  margin-top:20rem;
}

/* SECOND DIV */
.second-div{
 
  height:600px;
}

.schedule{
  background-color:#32cd32c8;
  height:600px;
}
.events{
  background-color:#ffa600c6;
  height:600px;
}

/* Sermons  div*/

.sermons{
  height: 850px;
  background-color:#36454f;

  
}
/* Today's sermon */
/* this is a _demo_ container. remember the importance of relative and absolute positioning */
.clicked-button{
  margin-top:2rem;
}
.sermon-display{
  margin-top:2rem;
}
.sermon-display p{
  color:#FFFFFF;

}
.sermon-row{
  /* margin-right:auto; */
  margin-left: 120px;
}
.youtube-link{
  margin-top: 15px;
}

div.embed-responsive div.caption{
  color:#ffffff;
}
.give-section{
  height:100px;
}
.give-section h1{
  color:#36454f;
  font-weight:500;
  font-size:26px;
}
.give-section h1::before,.give-section h1::after{
  background-color: #ddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.give-section p{
  margin-top:30px;
}
.give-section a{
  color:#36454f;
}

/* Responsive media */
@media only screen and (max-width: 768px) {


   /* .navbar-nav a{
    margin:0px!important;
    float: left; */
  .second-text{
    margin-top:3rem;
  }
  .sermons{
     margin-top:43.7rem; 
     height:800px;
  }
  iframe{
    width:300px;
    height:150px;
   
  
  }
  .sermon-row{
    margin-left:0px;
  }
  .schedule{
    height:700px;
  }
   
  
}